<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">
    <title>NyanCheck</title>
</head>
<body bgcolor="#202729" text="white">
  <h1><a href="/">NyanCheck</a></h1>
  <div>
<p>NyanCheck はディープラーニングで猫の種類を判別する webアプリケーションです。</p>
<p>アビシニアン、エジプシャンマウ、メインクーン、マンチカン、ノルウェージャンフォレストキャット, ロシアンブルー,スコティッシュフォールド、シャム、アメリカンショートヘアー、日本猫に対応しています。</p>
  </div>
  <div class="container">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
  </div>
</body>
</html>
